<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.common.mapper.CategoryMapper">

    <update id="updateCategoryName">
        update exam_question
        set category_name = #{categoryName}
        where category_id = #{categoryId};
        update question_info
        set category_name = #{categoryName}
        where category_id = #{categoryId};
    </update>

    <delete id="delAboutCategoryAll">
        delete
        from category
        where category_id = #{categoryId};
        delete
        from exam_question
        where category_id = #{categoryId};
        delete
        from question_info
        where category_id = #{categoryId};
    </delete>
</mapper>
