<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.common.mapper.QuestionInfoMapper">

    <sql id="base_condition_filed">
        <if test="query.questionId != null">
            and question_id = #{query.questionId}
        </if>
        <if test="query.title != null and query.title!=''">
            and title = #{query.title}
        </if>
        <if test="query.categoryId != null">
            and category_id = #{query.categoryId}
        </if>
        <if test="query.categoryName != null and query.categoryName!=''">
            and category_name = #{query.categoryName}
        </if>
        <if test="query.difficultyLevel != null">
            and difficulty_level = #{query.difficultyLevel}
        </if>
        <if test="query.question != null and query.question!=''">
            and question = #{query.question}
        </if>
        <if test="query.answerAnalysis != null and query.answerAnalysis!=''">
            and answer_analysis = #{query.answerAnalysis}
        </if>
        <if test="query.createTime != null and query.createTime!=''">
            <![CDATA[ and  create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
        </if>
        <if test="query.status != null">
            and status = #{query.status}
        </if>
        <if test="query.createUserId != null and query.createUserId!=''">
            and create_user_id = #{query.createUserId}
        </if>
        <if test="query.createUserName != null and query.createUserName!=''">
            and create_user_name = #{query.createUserName}
        </if>
        <if test="query.readCount != null">
            and read_count = #{query.readCount}
        </if>
        <if test="query.collectCount != null">
            and collect_count = #{query.collectCount}
        </if>
        <if test="query.postUserType != null">
            and post_user_type = #{query.postUserType}
        </if>
    </sql>
    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
            <if test="query.titleFuzzy!= null  and query.titleFuzzy!=''">
                and title like concat('%', #{query.titleFuzzy}, '%')
            </if>
            <if test="query.categoryNameFuzzy!= null  and query.categoryNameFuzzy!=''">
                and category_name like concat('%', #{query.categoryNameFuzzy}, '%')
            </if>
            <if test="query.questionFuzzy!= null  and query.questionFuzzy!=''">
                and question like concat('%', #{query.questionFuzzy}, '%')
            </if>
            <if test="query.answerAnalysisFuzzy!= null  and query.answerAnalysisFuzzy!=''">
                and answer_analysis like concat('%', #{query.answerAnalysisFuzzy}, '%')
            </if>
            <if test="query.createTimeStart!= null and query.createTimeStart!=''">
                <![CDATA[ and  create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
            </if>
            <if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
                <![CDATA[ and  create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
            </if>
            <if test="query.createUserIdFuzzy!= null  and query.createUserIdFuzzy!=''">
                and create_user_id like concat('%', #{query.createUserIdFuzzy}, '%')
            </if>
            <if test="query.createUserNameFuzzy!= null  and query.createUserNameFuzzy!=''">
                and create_user_name like concat('%', #{query.createUserNameFuzzy}, '%')
            </if>
            <if test="query.questionIds!=null and query.questionIds.length>0">
                and question_id in(<foreach collection="query.questionIds" separator="," item="item">#{item}</foreach>)
            </if>

            <if test="query.nextType!=null and query.nextType==1 and query.currentId!=null">
                <![CDATA[  and question_id<#{query.currentId} order by question_id desc ]]>
            </if>

            <if test="query.nextType!=null and query.nextType==-1 and query.currentId!=null">
                <![CDATA[  and question_id>#{query.currentId} order by question_id asc ]]>
            </if>
        </where>
    </sql>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.neo.common.entity.query.QuestionInfoQuery">
        UPDATE question_info
        <set>
            <if test="bean.title != null">
                title = #{bean.title},
            </if>
            <if test="bean.categoryId != null">
                category_id = #{bean.categoryId},
            </if>
            <if test="bean.categoryName != null">
                category_name = #{bean.categoryName},
            </if>
            <if test="bean.difficultyLevel != null">
                difficulty_level = #{bean.difficultyLevel},
            </if>
            <if test="bean.question != null">
                question = #{bean.question},
            </if>
            <if test="bean.answerAnalysis != null">
                answer_analysis = #{bean.answerAnalysis},
            </if>
            <if test="bean.createTime != null">
                create_time = #{bean.createTime},
            </if>
            <if test="bean.status != null">
                status = #{bean.status},
            </if>
            <if test="bean.createUserId != null">
                create_user_id = #{bean.createUserId},
            </if>
            <if test="bean.createUserName != null">
                create_user_name = #{bean.createUserName},
            </if>
            <if test="bean.readCount != null">
                read_count = #{bean.readCount},
            </if>
            <if test="bean.collectCount != null">
                collect_count = #{bean.collectCount},
            </if>
            <if test="bean.postUserType != null">
                post_user_type = #{bean.postUserType},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <update id="updateBatchByQIFId" parameterType="com.neo.common.entity.query.QuestionInfoQuery">
        UPDATE question_info
        <set>
            <if test="query.title != null">
                title = #{query.title},
            </if>
            <if test="query.categoryId != null">
                category_id = #{query.categoryId},
            </if>
            <if test="query.categoryName != null">
                category_name = #{query.categoryName},
            </if>
            <if test="query.difficultyLevel != null">
                difficulty_level = #{query.difficultyLevel},
            </if>
            <if test="query.question != null">
                question = #{query.question},
            </if>
            <if test="query.answerAnalysis != null">
                answer_analysis = #{query.answerAnalysis},
            </if>
            <if test="query.createTime != null">
                create_time = #{query.createTime},
            </if>
            <if test="query.status != null">
                status = #{query.status},
            </if>
            <if test="query.createUserId != null">
                create_user_id = #{query.createUserId},
            </if>
            <if test="query.createUserName != null">
                create_user_name = #{query.createUserName},
            </if>
            <if test="query.readCount != null">
                read_count = #{query.readCount},
            </if>
            <if test="query.collectCount != null">
                collect_count = #{query.collectCount},
            </if>
            <if test="query.postUserType != null">
                post_user_type = #{query.postUserType},
            </if>
        </set>
        where question_id in (<foreach item="item" collection="questionIds" separator=",">#{item}</foreach>)
    </update>

    <insert id="insertOrUpdate" parameterType="com.neo.common.entity.po.QuestionInfo">
        Insert into question_info
        <trim suffix=")" prefix="(" suffixOverrides=",">
            <if test="query.questionId!=null">
                question_id,
            </if>
            <if test="query.title!=null">
                title,
            </if>
            <if test="query.category_id!=null">
                category_id,
            </if>
            <if test="query.category_name!=null">
                category_name,
            </if>
            <if test="query.difficulty_level!=null">
                difficulty_level,
            </if>
            <if test="query.question!=null">
                question,
            </if>
            <if test="query.answer_analysis!=null">
                answer_analysis,
            </if>
            <if test="query.create_time!=null">
                create_time,
            </if>
            <if test="query.status!=null">
                status,
            </if>
            <if test="query.create_user_id!=null">
                create_user_id,
            </if>
            <if test="query.create_user_name!=null">
                create_user_name,
            </if>
            <if test="query.read_count!=null">
                read_count,
            </if>
            <if test="query.collect_count!=null">
                collect_count,
            </if>
            <if test="query.post_user_type!=null">
                post_user_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="query.questionId!=null">
                #{query.questionId},
            </if>
            <if test="query.title!=null">
                #{query.title},
            </if>
            <if test="query.categoryId!=null">
                #{query.categoryId},
            </if>
            <if test="query.categoryName!=null">
                #{query.categoryName},
            </if>
            <if test="query.difficultyLevel!=null">
                #{query.difficultyLevel},
            </if>
            <if test="query.question!=null">
                #{query.question},
            </if>
            <if test="query.answerAnalysis!=null">
                #{query.answerAnalysis},
            </if>
            <if test="query.createTime!=null">
                #{query.createTime},
            </if>
            <if test="query.status!=null">
                #{query.status},
            </if>
            <if test="query.createUserId!=null">
                #{query.createUserId},
            </if>
            <if test="query.createUserName!=null">
                #{query.createUserName},
            </if>
            <if test="query.readCount!=null">
                #{query.readCount},
            </if>
            <if test="query.collectCount!=null">
                #{query.collectCount},
            </if>
            <if test="query.postUserType!=null">
                #{query.postUserType},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="query.title!=null">
                title = VALUES(title),
            </if>
            <if test="query.categoryId!=null">
                category_id = VALUES(category_id),
            </if>
            <if test="query.categoryName!=null">
                category_name = VALUES(category_name),
            </if>
            <if test="query.difficultyLevel!=null">
                difficulty_level = VALUES(difficulty_level),
            </if>
            <if test="query.question!=null">
                question = VALUES(question),
            </if>
            <if test="query.answerAnalysis!=null">
                answer_analysis = VALUES(answer_analysis),
            </if>
            <if test="query.createTime!=null">
                create_time = VALUES(create_time),
            </if>
            <if test="query.status!=null">
                status = VALUES(status),
            </if>
            <if test="query.createUserId!=null">
                create_user_id = VALUES(create_user_id),
            </if>
            <if test="query.createUserName!=null">
                create_user_name = VALUES(create_user_name),
            </if>
            <if test="query.readCount!=null">
                read_count = VALUES(read_count),
            </if>
            <if test="query.collectCount!=null">
                collect_count = VALUES(collect_count),
            </if>
            <if test="query.postUserType!=null">
                post_user_type = VALUES(post_user_type),
            </if>
        </trim>
    </insert>


    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.neo.common.entity.po.QuestionInfo" useGeneratedKeys="true"
            keyProperty="questionId">
        INSERT INTO question_info(
        title,
        category_id,
        category_name,
        difficulty_level,
        question,
        answer_analysis,
        create_time,
        status,
        create_user_id,
        create_user_name,
        read_count,
        collect_count,
        post_user_type
        )values
        <foreach collection="queryList" item="item" separator=",">
            (
            #{item.title},
            #{item.categoryId},
            #{item.categoryName},
            #{item.difficultyLevel},
            #{item.question},
            #{item.answerAnalysis},
            #{item.createTime},
            #{item.status},
            #{item.createUserId},
            #{item.createUserName},
            #{item.readCount},
            #{item.collectCount},
            #{item.postUserType}
            )
        </foreach>
    </insert>

</mapper>
